            <% if !notice.nil? %>
              <p class="alert"><%= notice %></p>
            <% end %>
            <% if !alert.nil? %>
              <p class="alert "><%= alert %></p>
            <% end %>
            <% if !error.nil? %>
              <p class="alert alert-error"><%= error %></p>
            <% end %>
            <% if !sucess.nil? %>
              <p class="alert alert-success"><%= sucess %></p>
            <% end %>
            <% if !info.nil? %>
              <p class="alert alert-info"><%= info %></p>
            <% end %>